In [1]:
import talib.abstract as ta
import pandas as pd
import numpy as np
from pykrx import stock
from datetime import date, datetime, timedelta

In [2]:
stock.get_market_ohlcv_by_date('20100101', '20210225', '005930')

               시가     고가     저가     종가       거래량
날짜
2010-01-04  16060  16180  16000  16180    239271
2010-01-05  16520  16580  16300  16440    559219
2010-01-06  16580  16820  16520  16820    459755
2010-01-07  16820  16820  16260  16260    443237
2010-01-08  16400  16420  16120  16420    295798
...           ...    ...    ...    ...       ...
2021-02-19  82300  82800  81000  82600  25880879
2021-02-22  83800  84200  82200  82200  25419886
2021-02-23  81200  82900  81100  82000  20587314
2021-02-24  81800  83600  81300  82000  26807651
2021-02-25  84000  85400  83000  85300  34155986

[2751 rows x 5 columns]