# pandas
- pd.DataFrame 기본 골자 
- excel sheet라고 생각하면 쉬움

In [3]:
import pandas as pd
import numpy as np

# series 데이터 생성하기 (index, value)
- 1차원의 데이터 거의 쓸 일은 없음 . 

Series
- pandas의 기본 객체중 하나
- numpy 의 ndarray 기반으로 생각하면됨
- index를 지정안하면 기본적으로 0-based 인덱스 생성, 명시적으로 지정된 index 사용

In [6]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [8]:
s2 = pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [9]:
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int32

In [11]:
s4 = pd.Series([1,2,3],[100,200,300])
s4

100    1
200    2
300    3
dtype: int64

In [13]:
s5 = pd.Series([1,2,3],['a','b','c'])
s5

a    1
b    2
c    3
dtype: int64

In [15]:
s6 = pd.Series(np.arange(5), np.arange(100,105),dtype=np.int32)
s6

100    0
101    1
102    2
103    3
104    4
dtype: int32

In [16]:
s6.index

Int64Index([100, 101, 102, 103, 104], dtype='int64')

In [17]:
s6.values

array([0, 1, 2, 3, 4])

In [18]:
s6[0]

KeyError: 0

In [19]:
s6[100]

0

In [21]:
s6[104] =70

In [22]:
s6[106] = 10

In [23]:
s6

100     0
101     1
102     2
103     3
104    70
106    10
dtype: int64

# Series 데이터 심플 분석(개수,빈도 개산하기)
- size : 개수 반환 
- shape : 튜플 형태로 shape 변환
- unique : 유일한 값만 ndarray으로 변환 
- count : NaN을 뺀 개수
- mean : NaN 을 뺀 평균 
- value_counts :NaN을 뺀 값들의 빈도 집합

In [24]:
s = pd.Series([1,1,2,12,2,1,1,3,3,4,5,6,5,np.NaN])

In [25]:
len(s)

14

In [26]:
s.size

14

In [27]:
s.unique()

array([ 1.,  2., 12.,  3.,  4.,  5.,  6., nan])

In [28]:
s.count()

13

In [33]:
print(np.array([2,2,2,2,np.NaN]).mean())
a = pd.Series(np.array([2,2,2,2,np.NaN]))
print(a.mean())

nan
2.0

In [35]:
s.value_counts()

1.0     4
5.0     2
3.0     2
2.0     2
6.0     1
4.0     1
12.0    1
dtype: int64

index를 활용하여 멀티플한 값에 접근

In [38]:
s[[5,7,8]]

5    1.0
7    3.0
8    3.0
dtype: float64

In [39]:
s.head()

0     1.0
1     1.0
2     2.0
3    12.0
4     2.0
dtype: float64

In [40]:
s.tail()

9     4.0
10    5.0
11    6.0
12    5.0
13    NaN
dtype: float64

In [41]:

s.head(3)

0    1.0
1    1.0
2    2.0
dtype: float64

In [42]:
s

0      1.0
1      1.0
2      2.0
3     12.0
4      2.0
5      1.0
6      1.0
7      3.0
8      3.0
9      4.0
10     5.0
11     6.0
12     5.0
13     NaN
dtype: float64

# series 데이터 연산하기

In [43]:
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2 = pd.Series([6,3,2,1],['d','c','b','a'])

In [44]:
s1+s2

a     2
b     4
c     6
d    10
dtype: int64

산술연산

In [45]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [46]:
s1 ** s2

a       1
b       4
c      27
d    4096
dtype: int64

In [47]:
s1['k'] = 7 
s2['e'] = 9

In [48]:
print(s1)
print(s2)

a    1
b    2
c    3
d    4
k    7
dtype: int64
d    6
c    3
b    2
a    1
e    9
dtype: int64

In [49]:
s1 * s2

a     1.0
b     4.0
c     9.0
d    24.0
e     NaN
k     NaN
dtype: float64

# Series 데이터 Boolean Selection 으로 데이터 선택하기

In [51]:
s = pd.Series(np.arange(10), np.arange(10)+1)
print(s)

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [52]:
s > 5

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool

In [53]:
s[s>5]

7     6
8     7
9     8
10    9
dtype: int32

In [54]:
s[s%2 == 0]

1    0
3    2
5    4
7    6
9    8
dtype: int32

In [55]:
s

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int32

In [56]:
s[s.index > 5]

6     5
7     6
8     7
9     8
10    9
dtype: int32

In [58]:
s [(s > 5) & (s <8)]

7    6
8    7
dtype: int32

In [59]:
(s >= 7).sum()

3

In [60]:
(s[s>=7]).sum()

24

# Series 데이터 변경 & 슬라이싱 하기

In [61]:
s = pd.Series(np.arange(100,105),['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [63]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [65]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [68]:
s.drop('k',inplace=True)

In [69]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [72]:
s[['a','b']] = [300,900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

In [73]:
s1 = pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [74]:
s1[1:3]

1    101
2    102
dtype: int32

In [75]:
s2 = pd.Series(np.arange(100,105),['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [77]:
s2['a':'d']

a    100
b    101
c    102
d    103
dtype: int32

In [78]:
s2[1:3]

b    101
c    102
dtype: int32