In [104]:
import requests
import json
from pykrx import stock
from datetime import date, datetime, timedelta
import pandas as pd
def post_message(channel, text): 
    SLACK_BOT_TOKEN = ""
    headers = {
        'Content-Type': 'application/json', 
        'Authorization': 'Bearer ' + SLACK_BOT_TOKEN
        }
    payload = {
        'channel': channel,
        'text': text
        }
    r = requests.post('https://slack.com/api/chat.postMessage', 
        headers=headers, 
        data=json.dumps(payload)
        )
to_day = date.today().isoformat().replace('-', '')
df = stock.get_market_ohlcv_by_date("20210320",to_day, "252670", "d")
df = pd.DataFrame(df)
text  = df.iloc[-1][3]
text2 = int(text)*9466 - 21239545
a = int(df.iloc[-1][3])
b = int(df.iloc[-2][3])
c = round((a - b) / a * 100,2)
post_message("financefroject", '현제가 :'+format(text, ',')+'원 ('+format(c, ',')+'%)'+ '\n보유수량 :9,466주'+'\n손익 :'+format(text2, ',')+'원')

In [85]:
print(df.iloc[-1][3])
print(df.iloc[-2][3] )

2195
2175

In [90]:
a = int(df.iloc[-1][3])
b = int(df.iloc[-2][3])
c = round((a - b) / a * 100,2)

0.91

In [88]:
(2195 - 2175 ) /2195format(1493500, ',')

0.009111617312072893

In [67]:
df

              시가    고가    저가    종가        거래량
날짜
2021-03-22  2130  2170  2115  2130  314860928
2021-03-23  2105  2180  2095  2175  265538876
2021-03-24  2200  2230  2175  2195  331042959

In [86]:
round((int(df.iloc[-1][3]) - int(df.iloc[-2][3])) / int(df.iloc[-1][3]) * 100, 3)

0.911